/* استهداف شاشات صغيرة مثل الهواتف */
@media (max-width: 576px) {
    #img {
      max-width: 300px; /* جعل الصورة تمتلئ عرض الشاشة */
      height: auto; /* الحفاظ على نسبة الارتفاع */
    }
    #has{
      display: flex;
    }
  }
  
  /* استهداف أجهزة لوحية وبعض الأجهزة اللوحية الكبيرة */
  @media (min-width: 577px) and (max-width: 768px) {
    #img {
      max-width: 80%; /* تقليل عرض الصورة قليلا */
      height: auto; /* الحفاظ على نسبة الارتفاع */
    }
  }
  
  /* استهداف شاشات كبيرة مثل الشاشات التلفزيونية والشاشات الكبيرة */
  @media (min-width: 769px) {
    #img {
      max-width: 100%; /* تقليل عرض الصورة بشكل أكبر */
      height: 450px; /* الحفاظ على نسبة الارتفاع */
    }
  }
  